<h1>Administration Page</h1>

<h3><% @entries.each do |entry| %>
  <div>User: <%= entry.user_id %>, Project: <%= entry.project %> Comment: <%= entry.comment %> Hours: <%= entry.hours %> Minutes: <%= entry.minutes %> Date: <%= entry.date %> </div>
<% end %></h3>
<h3>Summary of Hours: <%= @sum_of_hours %></h3>
<h3>Summary of Minutes: <%= @sum_of_mins %></h3>